/* CSS Gráfica Eventos Sitio*/

body {
    background-color: rgb(31, 27, 55);
	margin-left: auto;
    margin-right: auto;
}

main {
    width: 67%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    height: 70%;
}

.tarjetas h2 {
    margin-bottom: 5px;
}

.tags h2 {
    margin-bottom: 5px;
}


main h2 {
    margin-left: 5px;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: rgb(198, 16, 55);
    margin-bottom: 5px;
}

/* ------------------------------ PIE -------------------------------*/

.pie {
    display: flex;
    width: 100%;
    height: 130px;
    border-top: 3px solid  rgb(198, 16, 55);
    justify-content: space-between;
}

.mod {
    margin-left: 50px;
}

.links {
    width: 45%;
    text-decoration: none;
    list-style: none;
    display: flex;
    text-align: center;
}

.links li a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(198, 16, 55);
    font-size: 24px;
    text-decoration: none;
    display: block;
    padding: 20px 30px;
    text-align: center;
}

.links li a:hover {
    color: white;
}

.mod img {
    width: 200px;
    margin-top: 30px;
}

.redes {
    display: flex;
    margin-right: 50px;

}
.redes img {
    width: 75px;
    margin: 25px 10px;
}